<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zzx.zbar_demo">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 摄像头使用 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- SD卡读写权限 4.4以下系统 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 百度地图权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="fiwzxkeFvL7q37ZESCA4yU6nOPfnIa6u" />

        <!--欢迎界面-->
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--第一个界面-->
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".zbar.CaptureActivity" />
        <activity android:name=".zbar.QRScanActivity" />
        <activity android:name=".VideoPlay.VideoPlayActivity" />
        <activity android:name=".PdfRead.PDFStartActivity" />
        <activity android:name=".activity.RegistWorkerActivity" />
        <activity android:name=".activity.LBSActivity" />
        <activity android:name=".activity.BasketDetailActivity"/>
        <activity android:name=".activity.ParameterActivity"/>
        <activity android:name=".activity.VideoMonitor2Activity"/>
        <activity android:name=".activity.WorkPhotosActivity"/>


        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.ManageMainActivity" />
        <activity android:name=".activity.WorkerMainActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".activity.ProDetailActivity" />
        <activity android:name=".activity.BasketListActivity" />
        <activity android:name=".activity.WorkerListActivity" />
        <activity android:name=".activity.RegisterPreActivity" />
        <activity android:name=".activity.RegistRentManActivity"/>


    </application>

</manifest>