<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.automation.zzx.intelligent_basket_demo">
    <!-- 网络权限 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- SD卡读写权限 4.4以下系统 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" /> <!-- 小米推送 -->

    <!-- 蓝牙 -->
    <uses-permission android:name = "android.permission.BLUETOOTH"/>
    <!--启用应用启动设备发现或者操作蓝牙设备的超级管理员-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-feature android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.network" />


    <permission
        android:name="com.automation.zzx.intelligent_basket_demo.permission.MIPUSH_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.automation.zzx.intelligent_basket_demo.permission.MIPUSH_RECEIVE" />

    <application
        android:name=".application.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.worker.BlueToothControlActivity"></activity>
        <activity android:name=".activity.basket.BasketCertActivity" />
        <activity android:name=".activity.common.MultipleImageActivity" />
        <activity android:name=".activity.worker.WorkerSkillListActivity" />
        <activity android:name=".activity.areaAdmin.ProjectInstallActivity" />
        <activity android:name=".activity.areaAdmin.ProjectFinishedActivity" />
        <activity android:name=".activity.basket.EquipCopyRightActivity" />
        <activity android:name=".activity.InstallInfo.MultiImgUploadActivity" />
        <activity android:name=".activity.InstallInfo.SingleImgUploadActivity" />
        <activity android:name=".activity.InstallInfo.BasketInstallInfoActivity" />
        <activity android:name=".activity.areaAdmin.InstallInfoListActivity" />
        <activity android:name=".activity.basket.BasketInstallByListActivity" />
        <activity android:name=".activity.basket.PlaneBasketActivity" />
        <activity android:name=".activity.basket.BasketParameterNewActivity" />
        <activity android:name=".activity.basket.AlarmRecordBasketActivity" />
        <activity android:name=".activity.basket.PlaneFigureActivity" />
        <activity android:name=".activity.areaAdmin.StopRecordActivity" />
        <activity android:name=".activity.areaAdmin.AlarmRecordProjectActivity" />
        <activity android:name=".activity.worker.SkillEditActivity" />
        <activity android:name=".activity.areaAdmin.AreaAdminProListActivity" />
        <activity android:name=".activity.basket.BasketInstallTeamActivity" />
        <activity android:name=".activity.proAdmin.ProAdminSetActivity" />
        <activity android:name=".activity.proAdmin.ProAdminMessageActivity" />
        <activity android:name=".activity.proAdmin.ProAdminPrimaryActivity" />
        <activity android:name=".activity.basket.BasketOpenByListActivity" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="hpCY4YjfMzTiFyXdnFblRDjrY5vYcaxc" /> <!-- 欢迎页面 -->
        <activity android:name=".activity.loginRegist.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.basketSupervisor.SupervisorBasketActivity" />
        <activity android:name=".activity.basketSupervisor.SupervisorPrimaryActivity" />
        <activity android:name=".activity.basket.BasketHistoryInfoActivity" />
        <activity android:name=".activity.basket.BasketDeviceActivity" />
        <activity android:name=".activity.areaAdmin.AreaAdminMessageActivity" />
        <activity android:name=".activity.areaAdmin.AreaAdminSetActivity" />
        <activity android:name=".activity.basket.BasketStickerActivity" />
        <activity android:name=".activity.areaAdmin.ProjectOperatingActivity" />
        <activity android:name=".activity.common.PasswordChangeActivity" />
        <activity android:name=".activity.common.RepairInfoListActivity" />
        <activity android:name=".activity.areaAdmin.ConfigurationActivity" />
        <activity android:name=".activity.inspectionPerson.OutAndInStorageActivity" />
        <activity android:name=".activity.inspectionPerson.SearchProjectActivity" />
        <activity android:name=".activity.inspectionPerson.InspectPersonPrimaryActivity" />
        <activity android:name=".activity.inspectionPerson.ConfigurationListActivity" />
        <activity android:name=".activity.inspectionPerson.ExceptionReportActivity" />
        <activity android:name=".activity.basket.BasketSettleActivity" />
        <activity android:name=".activity.common.UserNameActivity" />
        <activity android:name=".activity.areaAdmin.UploadPreStopInfoActivity" />
        <activity android:name=".activity.areaAdmin.CheckCompactActivity" />
        <activity android:name=".activity.areaAdmin.UploadImageActivity" />
        <activity android:name=".activity.areaAdmin.AreaAdminSumitReportActivity" />
        <activity android:name=".activity.common.UploadImageFTPActivity" />
        <activity android:name=".activity.common.QRcodeCardActivity" />
        <activity android:name=".activity.worker.UserMessageActivity" />
        <activity android:name=".activity.common.PersonalInformationActivity" />
        <activity android:name=".activity.common.RepairDetailActivity" />
        <activity android:name=".activity.worker.WorkerHomePageActivity" />
        <activity android:name=".activity.worker.WorkerMoreActivity" />
        <activity android:name=".activity.areaAdmin.AreaAdminPreActivity" />
        <activity android:name=".activity.rentAdmin.RentAdminPrimaryActivity" />
        <activity android:name=".activity.rentAdmin.AlarmMessageActivity" />
        <activity android:name=".activity.proAdmin.ProAdminPreActivity" /> <!-- 百度地图Ket -->
        <activity android:name=".activity.basket.BasketDetailActivity" />
        <activity android:name=".activity.rentAdmin.BasketDetailByRentActivity" />
        <activity android:name=".activity.basket.BasketParameterActivity" />
        <activity
            android:name=".activity.basket.BasketRepairActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.basket.BasketRepairFinishActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.basket.BasketVideoActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeFullscreen" />
        <activity android:name=".activity.basket.BasketPhotoActivity" />
        <activity android:name=".activity.worker.WorkerOrderActivity" />
        <activity
            android:name=".activity.worker.WorkerPrimaryActivity"
            android:label="@string/title_activity_woker_primary"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.worker.WorkerPrimaryNewActivity"
            android:label="@string/title_activity_woker_primary"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.areaAdmin.ProDetailActivity" />
        <activity android:name=".activity.areaAdmin.ProCommitActivity" />
        <activity android:name=".activity.basket.BasketEZVideoActivity" />
        <activity android:name=".activity.basket.BasketStateListActivity" />
        <activity android:name=".activity.oldversion.WorkerListActivity" />
        <activity
            android:name=".activity.loginRegist.RegistWorkerActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.loginRegist.RegistRentManActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.loginRegist.RegistAreaManActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.loginRegist.RegisterPreActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.loginRegist.RegistInspectorActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".activity.loginRegist.LoginActivity"
            android:launchMode="singleTask" /> <!-- 多图片选择器 -->
        <activity
            android:name="me.nereo.multi_image_selector.MultiImageSelectorActivity"
            android:configChanges="orientation|screenSize" /> <!-- Zxing -->
        <activity
            android:name=".widget.zxing.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
        <activity
            android:name=".widget.zxing.activity.ResultActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" /> <!-- 百度地图 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" /> <!-- 小米推送 -->
        <activity
            android:name=".utils.xiaomi.mipush.PermissionActivity"
            android:label="" /> <!-- 4个后台服务 -->
        <service
            android:name="com.xiaomi.push.service.XMJobService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.push.service.XMPushService"
            android:enabled="true"
            android:process=":pushservice" />
        <service
            android:name="com.xiaomi.mipush.sdk.PushMessageHandler"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="com.xiaomi.mipush.sdk.MessageHandleService"
            android:enabled="true" /> <!-- 3个广播 -->
        <receiver
            android:name=".utils.xiaomi.mipush.MiMessageReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.xiaomi.mipush.RECEIVE_MESSAGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.MESSAGE_ARRIVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.xiaomi.mipush.ERROR" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.NetworkStatusReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.xiaomi.push.service.receivers.PingReceiver"
            android:exported="false"
            android:process=":pushservice">
            <intent-filter>
                <action android:name="com.xiaomi.push.PING_TIMER" />
            </intent-filter>
        </receiver> <!-- 文件服务 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.automation.zzx.intelligent_basket_demo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- 萤石云 -->
        <!-- UIKit Android 针对API>=28崩溃问题 -->
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <!-- 蓝牙服务 -->
        <service
            android:name="com.inuker.bluetooth.library.BluetoothService" />
    </application>

</manifest>